/hello-scala/.sbtserver/
/hello-scala/.idea/
/hello-scala/project/project/
/hello-scala/project/target/

/hello_akka/.sbtserver/
/hello_akka/.idea/
/hello_akka/project/project/
/hello_akka/project/target/

/my_first_play_app/.sbtserver/
/my_first_play_app/.idea/
/my_first_play_app/project/project/
/my_first_play_app/project/target/

/play-java-intro/.sbtserver/
/play-java-intro/.idea/
/play-java-intro/project/project/
/play-java-intro/project/target/

/play-scala-intro/.sbtserver/
/play-scala-intro/.idea/
/play-scala-intro/project/project/
/play-scala-intro/project/target/

